.quantity { position: relative; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; } input[type=number]
{ -moz-appearance: textfield; }
.quantity input { width: 100px; height: 50px; line-height: 1.65; float: left; display: block; padding: 0; margin: 0; padding-left: 20px; border: 1px solid #eee;border-radius: 25px}
.quantity input:focus { outline: 0; }
.quantity-nav { position: absolute; height: 50px; margin-top: -25px; width: 100px !important; top: 50%; }
.quantity-button { position: relative; cursor: pointer; border-left: 1px solid #eee; width: 20px; text-align: center; color: #333; font-size: 13px;line-height: normal; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.quantity-button.quantity-up, .quantity-button.quantity-down  { position: absolute; height: 50px; top: 50%; margin-top: -25px; left: auto; right: 10px; padding-top: 15px; border: 0px; color: #b1b1b1; width: auto;}
.quantity-button.quantity-down { bottom:0px;right: auto;left: 20px;}

.quantity input{width: 100px;height: 50px;border-radius: 25px;padding-left:44px;border: 1px solid #dddddd;}